.menuItems {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--grey-light);
  font-family: var(--font-family-1);
}

.menuItems:last-of-type {
  border-bottom: 0;
  color: var(--state-error);
}
