.heading {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey-darker);
  padding-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
  max-height: 320px;
  overflow: hidden;
  padding: 0 0.2rem 1rem; /* to make card's box shadows visible */
}

@media screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    max-height: 400px;
  }
}
