.wrapper {
  width: 360px;
  border-radius: 8px;
  height: max-content;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
  overflow: hidden;
}

.imageContainer {
  height: 180px;
  width: 100%;
  background-color: var(--primary-50);
}

.cardContent {
  padding: 1rem 1.5rem;
}

.category {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0.75rem;
  color: var(--grey-dark);
}

.cardHeading {
  height: 48px;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.75rem;
  color: var(--black);
}

.cardDesc {
  height: 36px;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 1rem;
  color: var(--grey-dark);
}

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 400px;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    max-width: 320px;
  }
}
