.wrapper {
  width: 360px;
  height: max-content;
  height: 315px;
  overflow: hidden;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.header {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.image {
  background-color: var(--primary-10);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name {
  font-weight: 500;
  font-size: 0.875rem;
}

.day {
  font-weight: 400;
  font-size: 0.625rem;
  color: var(--grey-dark);
}

.reviewContainer {
  font-style: italic;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--grey-darker);
}

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 400px;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    height: max-content;
  }
  .reviewContainer {
    max-height: 250px;
    overflow: hidden;
  }
}
