.wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.rightSection {
  max-width: 365px;
  min-width: 250px;
  margin-right: 5rem;
}

.heading {
  font-weight: 500;
  font-size: 1.5rem;
}

.subHeading {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--grey-dark);
  margin: 1rem 0 2rem;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fieldContainer {
  width: 100%;
}

.label {
  color: var(--grey-darker);
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.field {
  background-color: rgb(255, 255, 255, 0.55);
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  .rightSection {
    margin: auto;
  }
}
