.wrapper {
  padding-bottom: 3rem;
}

.fundHeading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 116px;
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--black);
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.leftSection {
  max-width: 750px; /* chage to max-width */
  overflow: hidden;
  padding-bottom: 1rem;
}
.imageContainer {
  width: 100%;
  height: 364px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary-30);
}
.fundDetailsContainer {
  margin-top: 2rem;
}
.detailsHeading {
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  color: var(--grey-darker);
}
.detailsContent {
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 7px rgb(0 0 0 / 8%);
  padding: 1rem 0.25rem 1rem 1rem;
  border-radius: 8px;
  overflow-y: hidden;
}
.detailsContent p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-height: 300px;
  overflow-y: auto;
  color: var(--black);
}

.detailsContent p::-webkit-scrollbar {
  width: 6px;
}

.rightSection {
  width: 350px;
  max-width: 350px;
  height: max-content;
  border-radius: 10px;
  /* background-color: lightgray; */
  position: sticky;
  top: calc(80px + 58px);
  z-index: 50;
  padding: 1rem 1rem;
  transition: 0.2s ease;
}

.rightSectionScrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgb(0 0 0 / 5%);
}

.deadlineContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 0.5rem;
}

.deadlineHeading {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--grey-dark);
}

.deadlineDate {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--black);
}

.daysLeft {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 0.5rem;
}

.progressContainer {
  padding: 2.25rem 0 0;
}

.progressBottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.supportersHeading {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey-darker);
}

.cardWrapper {
  margin: 2rem auto 0;
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding-bottom: 2rem;
  }
  .fundHeading {
    font-size: 1.5rem;
  }
  .detailsContent {
    margin-top: 0.875rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
  }
  .detailsContent p {
    font-size: 0.875rem;
  }
  .progressContainer {
    padding: 2rem 0 0;
  }

  .mainContainer {
    flex-direction: column;
  }
  .leftSection,
  .rightSection {
    margin: 0 auto;
    width: 100%;
  }
  .rightSectionScrolled {
    background-color: transparent;
    box-shadow: none;
  }
}
