.navbarMain {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1200;
  width: 100%;
  /* transition: 0.1s linear; */
}

.wrapper {
  height: max-content;
  max-height: 80px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.mobNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navRight {
  max-height: 50px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  color: var(--grey-darker);
}
.navRight > a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: var(--grey-darker);
}

.navScroll {
  background: #ffffff;
  box-shadow: 0 2px 7px rgb(0 0 0 / 5%);
}

@media screen and (max-width: 900px) {
  .navbarMain {
    background-color: #ffffff;
  }
}
