.navbarMain {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1300;
  width: 100%;
  transition: 0.1s ease-out;
}

.wrapper {
  height: max-content;
  max-height: 80px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.mobNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navRight {
  height: 46px; /* Don't change */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  color: var(--grey-darker);
}

.navRight > a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: var(--grey-darker);
}

.navScroll {
  background: #ffffff;
  box-shadow: var(--box-shadow-1);
}

.dropdownButton {
  width: 232px; /* Don't change */
  height: 100%;
  background: var(--primary-30);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdownButton .menuLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdownButton .userName {
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: var(--grey-darker);
}

@media screen and (max-width: 900px) {
  .navbarMain {
    background-color: #ffffff;
  }
}
