.formContainer {
  display: flex;
  flex-direction: column;
}

.fields {
  max-width: 300px;
  margin-top: 1rem;
}

.fields * {
  transition: all 0.2s ease;
}

.inst {
  font-size: 0.75rem;
  color: var(--grey-darker);
}

.adminLogin {
  font-size: 0.75rem;
  color: var(--primary);
  margin-top: 1rem;
  cursor: pointer;
}

.adminModalHeader {
  background-color: var(--primary);
  color: #fff;
}
