.container {
  max-width: 600px;
  margin: 2rem auto 5rem;
}

.stepLabel {
  cursor: pointer;
}
.stepLabel * {
  font-family: var(--font-family-1);
}

.stepsForm {
  width: 100%;
  padding: 2rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

/* Form styles */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fieldContainer {
  width: 100%;
}

.fieldContainer * {
  transition: all 0.2s ease;
}

.fieldContainer p {
  color: var(--grey-dark);
  font-weight: 400;
}

.label {
  color: var(--black);
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.field {
  background-color: rgb(255, 255, 255, 0.65);
}

.message {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 15px;
  color: var(--grey-dark);
}

.walletContainer .info {
  font-size: 1rem;
  color: var(--grey-darker);
}

.walletAddr {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.65);
  border-radius: 10px;
  box-shadow: 0 2px 7px rgb(0 0 0 / 10%);
  /* box-shadow: var(--box-shadow-1); */
}
.walletAddr span {
  color: var(--primary-dark);
}

@media screen and (max-width: 600px) {
  .stepsForm {
    padding: 2rem 0;
  }
}
