.wrapper {
  border-bottom: 2px solid var(--primary);
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  user-select: none;
}

.cardContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  min-width: 120px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s ease;
}

.categoryActive,
.cardContainer:hover {
  background-color: var(--primary-70);
}

.categoryActive img,
.cardContainer:hover img {
  filter: brightness(1000%);
}

.categoryActive .categoryName,
.cardContainer:hover .categoryName {
  color: #ffffff;
}

.imageContainer {
  width: 24px;
  height: 24px;
}
.imageContainer img {
  width: 100%;
  height: 100%;
}

.categoryName {
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  color: var(--black);
}
