.wrapper {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.heading {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey-darker);
  padding-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
  max-height: 460px;
  overflow: hidden;
  padding: 0 0.2rem 1rem; /* to make card's box shadows visible */
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding-top: 2rem;
  }
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
