.wrapper {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
  /* max-height: 460px; */
  max-height: max-content;
  overflow: hidden;
  padding: 0 0.2rem 1rem; /* to make card's box shadows visible */
}

.noFundMessage {
  font-size: 0.875rem;
  color: var(--grey-dark);
}

@media screen and (max-width: 900px) {
  .wrapper {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}
