.wrapper {
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.sectionHeading {
  font-weight: 600;
  font-size: 2.25rem;
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.bodyContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem 3rem;
}

.contentContainer {
  max-width: 620px;
  margin-left: auto;
}
.contentContainer p {
  white-space: pre-line;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .bodyContainer {
    padding: 0;
  }
}

/* Breaking UI to mobile view from here */
@media screen and (max-width: 900px) {
  .wrapper {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .bodyContainer {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: auto;
  }
  .sectionHeading {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .imageContainer {
    margin: auto;
  }
  .contentContainer p {
    font-size: 0.875rem;
  }
}
