.mainContainer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: auto;
}
