.mainContainer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2rem;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 250px;
  max-width: 300px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .mainContainer {
    gap: 5rem;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 786px) {
  .mainContainer {
    flex-direction: column;
    gap: 3rem;
  }
  .leftSection {
    width: max-content;
    margin: auto;
    gap: 2rem;
  }

  .infoContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    padding: 1.5rem 0;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .leftSection {
    gap: 1.5rem;
    width: 100%;
  }
}
