.buttonWrapper {
  height: max-content;
  font-family: var(--font-family-1);
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: 18px;
  padding: 1rem 1.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-transform: initial;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.primaryBtn {
  background-color: var(--primary);
  color: #ffffff;
}
.primaryBtn:hover,
.primaryBtn:focus {
  background-color: var(--primary-dark);
}

.secondaryBtn {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.secondaryBtn:hover,
.secondaryBtn:focus {
  background-color: var(--primary-30);
}

.text {
  font-size: inherit;
}

.iconContainer,
.iconContainer * {
  width: 20px;
  height: 20px;
  /* margin-top: -0.5px; */
}

@media screen and (max-width: 900px) {
  .buttonWrapper {
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
  }
  .text {
    height: 16px;
  }
  .iconContainer,
  .iconContainer * {
    width: 16px;
    height: 16px;
  }
}
