/* ----- All defaults or css resets ----- */
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: inherit;
  color: inherit;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.webWrapper {
  position: relative;
  max-width: 3000px;
  margin: auto;
}
.webWrapper > .bgImage {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* --- custom Scrollbar --- */
::-webkit-scrollbar-track {
  background-color: var(--grey-lightest);
  opacity: 0.75;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-dark);
  border-radius: 8px;
  opacity: 0.5;
  border: 2px solid var(--grey-lightest);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-darker);
}

::-webkit-scrollbar {
  background-color: var(--grey-lightest);
  width: 8px;
  height: 8px;
  opacity: 0.75;
}

@media screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-left: -10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid var(--grey-lightest);
  }
}
